<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dopamedia\PhpBatch\JobExecutionInterface" type="Dopamedia\Batch\Model\JobExecution" />
    <preference for="Dopamedia\PhpBatch\JobInstanceInterface" type="Dopamedia\Batch\Model\JobInstance" />
    <preference for="Dopamedia\PhpBatch\JobInstanceFactoryInterface" type="Dopamedia\Batch\Model\JobInstanceFactory" />
    <preference for="Dopamedia\PhpBatch\StepExecutionInterface" type="Dopamedia\Batch\Model\StepExecution" />
    <preference for="Dopamedia\PhpBatch\WarningInterface" type="Dopamedia\Batch\Model\Warning" />
    <preference for="Dopamedia\PhpBatch\Repository\JobRepositoryInterface" type="Dopamedia\Batch\Model\JobRepository" />
    <preference for="Dopamedia\PhpBatch\Job\JobRegistryInterface" type="Dopamedia\Batch\Job\JobRegistry" />
    <preference for="Dopamedia\PhpBatch\Job\JobParameters\DefaultValuesProviderRegistryInterface" type="Dopamedia\Batch\Job\JobParameters\DefaultValuesProviderRegistry" />
    <preference for="Dopamedia\PhpBatch\Job\JobParameters\ValidatorProviderRegistryInterface" type="Dopamedia\Batch\Job\JobParameters\ValidatorProviderRegistry" />
    <preference for="Dopamedia\PhpBatch\Adapter\EventManagerAdapterInterface" type="Dopamedia\Batch\Adapter\EventManagerAdapter" />
    <preference for="Dopamedia\PhpBatch\Item\ItemReaderInterface" type="Dopamedia\Batch\Reader\NoopReader" />
    <preference for="Dopamedia\PhpBatch\Item\ItemProcessorInterface" type="Dopamedia\Batch\Processor\NoopProcessor" />
    <preference for="Dopamedia\PhpBatch\Item\ItemWriterInterface" type="Dopamedia\Batch\Writer\NoopWriter" />
    <preference for="Dopamedia\Batch\Reader\File\FileIteratorInterface" type="Dopamedia\Batch\Reader\File\FlatFileIterator" />
    <preference for="Dopamedia\Batch\Reader\File\HeaderProviderInterface" type="Dopamedia\Batch\Reader\File\FirstRowHeaderProvider" />

    <type name="Dopamedia\Batch\Step\ValidatorStep">
        <arguments>
            <argument name="name" xsi:type="string">Validate File</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="batchJobCreateCommand" xsi:type="object">Dopamedia\PhpBatch\Console\Command\JobCreateCommand</item>
                <item name="batchJobExecuteCommand" xsi:type="object">Dopamedia\PhpBatch\Console\Command\JobExecuteCommand</item>
                <item name="batchJobInstanceListCommand" xsi:type="object">Dopamedia\PhpBatch\Console\Command\JobInstanceListCommand</item>
            </argument>
        </arguments>
    </type>
</config>