<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dopamedia_Batch::batch" title="Batch" translate="title" module="Dopamedia_Batch" sortOrder="15" parent="Magento_Backend::system" resource="Dopamedia_Batch::batch" />
        <add id="Dopamedia_Batch::batch_profile" title="Profiles" translate="title" module="Dopamedia_Batch" sortOrder="10" parent="Dopamedia_Batch::batch" action="batch/profile" resource="Dopamedia_Batch::batch_profile"/>
        <add id="Dopamedia_Batch::batch_execution" title="Executions" translate="title" module="Dopamedia_Batch" sortOrder="20" parent="Dopamedia_Batch::batch" action="batch/execution" resource="Dopamedia_Batch::batch_executions"/>
    </menu>
</config>
